<header>

  <div class="container">

    <div class="intro-text">
      <img class="dicomnext-logo" src="img/logo_dicomnext.png"></img>
      <div class="intro-lead-in">
        <span>The next cross-platform,</span>
        <br>
        <span>extensible DICOM viewer</span>
      </div>

      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
      </span>

      <p class="about-p">
        <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
        <a href="mailto:info@orobix.com"  class="btn btn-xl btn-left-1em" data-toggle="modal" data-target="#downloadModal">Request a Beta</a>
      </p>

      <p class="promotion">
        <i class="promotion"><a class="system-req" href="#systemReqModal" data-toggle="modal">System requirements</a></i>
      </p>
      <!-- <p class="promotion-2">
        <i class="promotion-2">Last version 1.2.3 - Apr 15 2015</i>
      </p> -->
    </div>
  </div>

  <div class="modal fade" id="systemReqModal" tabIndex="-1" role="dialog" aria-labelledby="systemReqModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title centercontents" id="systemReqModalLabel">System Requirements</h4>
        </div>
        <div class="modal-body">

          <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a class="tab-req" href="#minimum" aria-controls="minimum" role="tab" data-toggle="tab">Minimum</a></li>
              <li role="presentation"><a class="tab-req" href="#recommended" aria-controls="recommended" role="tab" data-toggle="tab">Recommended</a></li>

            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="minimum">
                <table class="table table-left table-striped">
                  <tr>
                    <td><b>CPU:</b></td>
                    <td>Dual Core 2.66 GHz</td>
                  </tr>
                  <tr>
                    <td><b>RAM:</b></td>
                    <td>2 GB</td>
                  </tr>
                  <tr>
                    <td><b>OS:</b></td>
                    <td>Windows XP/7/8, OSX 10.8+, Ubuntu 64bit</td>
                  </tr>
                  <tr>
                    <td><b>Free Disk Space:</b></td>
                    <td>150 Mb</td>
                  </tr>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="recommended">
                <table class="table table-left table-striped">
                  <tr>
                    <td><b>CPU:</b></td>
                    <td>Quad Core 3.00 GHz</td>
                  </tr>
                  <tr>
                    <td><b>RAM:</b></td>
                    <td>8 GB</td>
                  </tr>
                  <tr>
                    <td><b>OS:</b></td>
                    <td>Windows XP/7/8, OSX 10.8+, Ubuntu 64bit</td>
                  </tr>
                  <tr>
                    <td><b>Free Disk Space:</b></td>
                    <td>1 GB</td>
                  </tr>
                </table>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</header>
